/* --- YOUR CODE STARTS HERE --- */

.wrapper {
  width: 360px;
  overflow: hidden;
}

.width-75 {
  width: 75%;
}

.width-25 {
  width: 25%;
}

.vertical-align {
  display: table-cell;
  vertical-align: middle;
}

.lvl-1, .lvl-5{
  display: table;
  height: 45px;
  width: 100%;
  background-color: #f5f5f5;
  border-bottom: 1px solid #cfcfcf;
  border-top: 1px solid #cfcfcf;
}

.lvl-2 {
  display: table;
  height: 50px;
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.w-10{
  width:10%;
}

.w-80{
  width: 80%;
}

.w-90{
  width: 90%;
}

.lvl-4{
  height: 50px;
  width: 100%;
  display: table;
}

/* --- YOUR CODE ENDS HERE --- */
